@import "@/styles/variables";

.deposit-modal {
  .modal-content {
    border-radius: 12px;
    border: 1px solid $color-border;
    background-color: #f5f5f5;
  }

  .deposit-title {
    font-weight: 600;
    color: $color1;
    text-align: center;
  }

  .no-history-text {
    color: gray;
    font-size: 14px;
    padding: 10px 0;
  }

  .close-btn {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 6px 14px;
    font-weight: 500;
  }

  .deposit-list {
    margin-top: 10px;

    .deposit-item {
      background-color: #ffffff;
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 15px;
      border: 1px solid #ddd;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

      .deposit-amount {
        color: green;
        font-weight: 500;
        font-size: 18px;
      }

      .deposit-date {
        font-size: 13px;
        color: #888;
        margin-top: 4px;
      }
    }
  }
}
