@use "@/styles/variables" as v;

.btn-primary-custom {
  background-color: v.$color1;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(v.$color1, 8%);
    color: #fff;
  }
}
